/.svn/
/BuildOnSave.xcodeproj/.svn/entries
/English.lproj/ZapDialog.nib/.svn/entries
/English.lproj/ZapDialog.nib/.svn/prop-base/keyedobjects.nib.svn-base
/BuildOnSave.xcodeproj/.svn/text-base/TemplateIcon.icns.svn-base
/BuildOnSave.xcodeproj/.svn/prop-base/TemplateIcon.icns.svn-base
/BuildOnSave.xcodeproj/.svn/text-base/project.pbxproj.svn-base
/BuildOnSave.xcodeproj/.svn/text-base/will.pbxuser.svn-base
/BuildOnSave.xcodeproj/.svn/text-base/will.perspectivev3.svn-base
/English.lproj/.svn/entries
/English.lproj/.svn/prop-base/InfoPlist.strings.svn-base
/English.lproj/.svn/prop-base/Localizable.strings.svn-base
/English.lproj/.svn/text-base/InfoPlist.strings.svn-base
/English.lproj/.svn/text-base/Localizable.strings.svn-base
/English.lproj/ZapDialog.nib/.svn/text-base/designable.nib.svn-base
/English.lproj/ZapDialog.nib/.svn/text-base/keyedobjects.nib.svn-base
/English.lproj/ZapDialog.nib/designable.nib
/English.lproj/ZapDialog.nib/keyedobjects.nib